<?php
    use Config\StyleConfig;
    use Lib\Msg;
?>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="POST" enctype="multipart/form-data" id="uform">
            <fieldset>
                <legend><?php print $this->Title ?></legend>
            <a href="<?php print $this->CtrlName ?>" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> </a>
            
            <div class="form-group pull-right">
                <input type="hidden" name="<?php print USER_OLD_PASSWORD ?>" value="<?php print $this->OldPassword->Value ?>">
                <input type="hidden" name="<?php print USER_OLD_AVATAR ?>" value="<?php print $this->OldAvatar->Value ?>">
                <input type="hidden" name="<?php print IDUSER ?>" value="<?php print $this->IdUser->Value ?>">
                <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                <button type="submit" class="btn btn-primary"><?php print Msg::Get('_SAVE_','Save') ?></button>
                <a href="<?php print $this->CtrlName ?>" class="btn btn-default"><?php print Msg::Get('_CANCEL_','Cancel') ?></a>
            </div>
            <hr>

            <ul class="nav nav-tabs">
                <li class="active" role="presentation"><a data-toggle="pill" href="#page1"><?php print Msg::Get('_ALL_','All') ?></a></li>
                <li role="presentation"><a data-toggle="pill" href="#page2"><?php print Msg::Get('_OPTIONS_','Options') ?></a></li>
                <!--<li role="presentation"><a data-toggle="pill" href="#page3"><?php print Msg::Get('_IMAGE_','Image') ?></a></li>-->
            </ul>

            <div class="tab-content">
                <div id="page1" class="tab-pane fade in active">
                      <?php $this->RenderImage(StyleConfig::AvatarDir.'/'.$this->Avatar->Value, $this->Avatar->Value, 200, 200) ?>
                        <?php //$this->RenderUploader($this->Avatar->Value); ?>
                    <div class="form-group <?php print $this->Nick->ErrorStyle ?>">
                        <label class="control-label"><?php print Msg::Get('_NICK_','Nick') ?></label>
                        <input type="text" class="form-control" placeholder="<?php print Msg::Get('_NICK_','Nick') ?>" name="<?php print USER_NICK ?>" value="<?php print $this->Nick->Value ?>">
                        <?php print $this->RenderValidationError($this->Nick->ErrorText); ?>
                    </div>
                    <div class="form-group <?php print $this->Email->ErrorStyle ?>">
                        <label class="control-label"><?php print Msg::Get('_EMAIL_','Email') ?></label>
                        <input type="text" class="form-control" placeholder="<?php print Msg::Get('_EMAIL_','Email') ?>" name="<?php print USER_EMAIL ?>" value="<?php print $this->Email->Value ?>">
                        <?php print $this->RenderValidationError($this->Email->ErrorText); ?>
                    </div>
                    <div class="form-group <?php print $this->Password->ErrorStyle ?>">
                        <label class="control-label"><?php print Msg::Get('_PASSWORD_','Password') ?></label>
                        <input type="password" class="form-control" placeholder="<?php print Msg::Get('_PASSWORD_','Password') ?>" name="<?php print USER_PASSWORD ?>" value="<?php print $this->Password->Value ?>">
                        <?php print $this->RenderValidationError($this->Password->ErrorText); ?>
                    </div>
                    <div class="form-group <?php print $this->FirstName->ErrorStyle ?>">
                        <label class="control-label"><?php print Msg::Get('_FIRST_NAME_','First Name') ?></label>
                        <input type="text" class="form-control" placeholder="<?php print Msg::Get('_FIRST_NAME_','First Name') ?>" name="<?php print USER_FIRST_NAME ?>" value="<?php print $this->FirstName->Value ?>">
                        <?php print $this->RenderValidationError($this->FirstName->ErrorText); ?>
                    </div>
                    <div class="form-group <?php print $this->LastName->ErrorStyle ?>">
                        <label class="control-label"><?php print Msg::Get('_LAST_NAME_','Last Name') ?></label>
                        <input type="text" class="form-control" placeholder="<?php print Msg::Get('_LAST_NAME_','Last Name') ?>" name="<?php print USER_LAST_NAME ?>" value="<?php print $this->LastName->Value ?>">
                        <?php print $this->RenderValidationError($this->LastName->ErrorText); ?>
                    </div>
                </div>
                    <!--
                     <div class="form-group">
                         <label class="control-label"><?php print _PHONE_ ?></label>
                         <input type="text" class="form-control" placeholder="<?php print _PHONE_ ?>" name="<?php print USER_PHONE ?>" value="<?php print $this->Phone->Value ?>">
                         <p class='text-danger'><?php print $this->Phone->ErrorText; ?></p>
                     </div>
                    -->
                    <div id="page2" class="tab-pane fade">
                        <?php $this->RenderAsSelect($this->Statuses,$this->Active->Value ,Msg::Get('_ACTIVE_','Active'),USER_STATUS) ?>
                        <?php //$this->RenderAsSelect($this->Languages,$this->IdLang->Value ,Msg::Get('_LANGUAGE_','Language'),IDLANG) ?>
                        <?php $this->RenderAsSelect($this->Roles,$this->IdRole->Value ,Msg::Get('_ROLE_','Role'),IDROLE) ?>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
