<div class="home-overlay"></div>
<section class="page-header">
  <div class="container">
    <div class="row">
      <h1><?php print Msg::Get('_CONTACT_','Contact') ?></h1>
    </div>
  </div>
</section>

<!-- Google map -->
<!--
<div id="overlay">
     <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1247.8738726885501!2d15.57331525829417!3d51.27896227270021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470f35cd1daf7d8d%3A0x7c2aec1432fec2ef!2zUHJ6ZW15c8WCb3dhLCBCb2xlc8WCYXdpZWM!5e0!3m2!1spl!2spl!4v1486664148436" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>-->
<style>
    .scrolloff {
        pointer-events: none;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#map-canvas').addClass('scrolloff');                // set the mouse events to none when doc is ready
    
        $('#overlay').on("mousedown",function(){        // when mouse down, set the mouse events free
            $('#map-canvas').removeClass('scrolloff');
        });

        $("#map-canvas").mouseleave(function () {              // becuase the mouse up doesn't work... 
            $('#map-canvas').addClass('scrolloff');            // set the pointer events to none when mouse leaves the map area
                                                        // or you can do it on some other event
        });
        
    });
</script>
<!-- Google map -->


<section class="service">
  
  <div class="container">
    <div class="row">
      <div class="main_service p_t__b textwhite">
        <div class="head_title text-center textblack">
	  <h3><?php print Msg::Get('_CONTACT_FORM_','Contact Form'); ?></h3>
	  <div class="separator"></div>
	</div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="container">
    <div class="col-md-6">
        <form method="POST" enctype="multipart/form-data" id="contact-form">
          <fieldset>
	    <h6 class="text-uppercase"><?php print Msg::Get('_CONTACT_US_','Contact Us'); ?></h6>
	   
                <?php if($this->Saved) { ?> <div class="col-sm-12"><div class="alert alert-success"><?php print Msg::Get('_MESSAGE_SEND_','Message Send') ?></div></div> <?php } ?>
		    <!-- Email -->
		    <div class="form-group">
                    <!-- <label class="control-label"><?php print Msg::Get('_EMAIL_','Email') ?></label> -->
		    <?php print $this->RenderValidationError($this->Email->ErrorText); ?>
                    <input class="form-control" required class="col-xs-12" type="email" placeholder="<?php print Msg::Get('_EMAIL_','Email') ?>" name="<?php print CONTACT_EMAIL ?>" value="<?php print $this->Email->Value ?>">
		    </div>
                            
		    <div class="form-group">
                    <!-- <label class="control-label"><?php print Msg::Get('_FIRST_NAME_','First Name') ?></label> -->
                    <?php print $this->RenderValidationError($this->FirstName->ErrorText); ?>
                    <input class="form-control" type="text" placeholder="<?php print Msg::Get('_FIRST_NAME_','First Name') ?>" name="<?php print CONTACT_FIRST_NAME ?>" value="<?php print $this->FirstName->Value ?>">
		    </div>
							
                    <div class="form-group">
                    <!-- <label class="control-label"><?php print Msg::Get('_LAST_NAME_','Last Name') ?></label> -->
                    <?php print $this->RenderValidationError($this->LastName->ErrorText); ?>
                    <input class="form-control" type="text" placeholder="<?php print Msg::Get('_LAST_NAME_','Last Name') ?>" name="<?php print CONTACT_LAST_NAME ?>" value="<?php print $this->LastName->Value ?>">
		    </div>   
                            
                    <div class="form-group">
                    <!-- <label class="control-label"><?php print Msg::Get('_PHONE_','Phone') ?></label> -->
		    <?php print $this->RenderValidationError($this->Phone->ErrorText); ?>
                    <input class="form-control" type="text" placeholder="<?php print Msg::Get('_PHONE_','Phone') ?>" name="<?php print CONTACT_PHONE ?>" value="<?php print $this->Phone->Value ?>">
		    </div>
						
                    <div class="form-group">
                    <!-- <label class="control-label"><?php print Msg::Get('_SUBJECT_','Subject') ?></label> -->
		    <?php print $this->RenderValidationError($this->Subject->ErrorText); ?>
                    <input required class="form-control" type="text" placeholder="<?php print Msg::Get('_SUBJECT_','Subject') ?>" name="<?php print CONTACT_SUBJECT ?>" value="<?php print $this->Subject->Value ?>">
                    </div>
                        
                    <div class="form-group">
                    <!-- <label class="control-label"><?php print Msg::Get('_MESSAGE_','Message') ?></label> -->
                    <textarea  required class="form-control" rows="10" cols="25" placeholder="<?php print Msg::Get('_MESSAGE_','Message') ?>" name="<?php print CONTACT_MESSAGE ?>"><?php print $this->Message->Value ?></textarea>
                    </div>
		    
		    <div class="form-group">
                            <div class="checkbox margin-bottom-201">
                            <label>
                                <?php if($this->Newsletter->Value)
                                { ?>
                                <input name="<?php print REGISTER_NEWSLETTER ?>" type="checkbox" checked>
                                <?php }else{ ?>
                                <input name="<?php print REGISTER_NEWSLETTER ?>" type="checkbox">
                                <?php } ?>
                                
                                <?php print Msg::Get('_REGISTER_NEWSLETTER_','Newsletter') ?>        
                            </label>
                            </div>
                    </div>
		    <div id="contact-alert-area"></div>    
                    <div class="form-group">
			<input class="btn btn-default btn-md" id="submit" type="submit" name="submit" value="<?php print Msg::Get('_SEND_','Send') ?>">
			
                    </div>
                    <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                </fieldset>
	    </form>			
	</div>
    <div class="col-md-6">
	<h6 class="widget-title text-center"><?php print Msg::Get('_CONTACT_TEXT_','Visit Us or Call') ?></h6>				
	<?php $this->RenderBlock('contact'); ?>
    </div>
</div>

</div>
 </section>
<br><br>

<!-- Skrypt wysyłający maila z formularza kontaktowego-->
<script>
$("#contact-form").submit
(
    function(event)
    {
	$("#contact-alert-area").show();
	$("#contact-alert-area").html('sending...');
	event.preventDefault();
	var result;
	$.ajax
	({
	    type: "POST",
	    data: $("#contact-form").serialize(),
	    url: "contact",
	    success: function(html)
	    {
				//php  zwraca html z resulatem
                //alert(html);
		//$("#alert-area").html(html);
                //msg = JSON.parse(html);
                //if(msg.code == 1)
		//{
		    $( "#contact-form" ).hide();
					//$( "div.second" ).slideUp( 300 ).fadeIn( 400 );
                    //$("#newsletter-form").hide();
                //}
		
		$("#contact-alert-area").html('msg.text');
		$("#contact-alert-area").fadeIn(500);
		$("#contact-alert-area").delay( 1000 ).fadeOut(3000);
		$( "#contact-form" ).show();
                  
	    },
	    error: function()
	    {
		result = '<div class="alert alert-danger">There was an error sending the message!</div>';
		$("#alert-area").html(result);
	    }
	});
    }
);
</script>
<!-- Mapa -->
<div class="row">

	<div class="col-md-3">
		<div class="panel-group" id="accordion">
				
		<?php
			$i = 1;
			foreach($this->Items as $item)
			{
		?>
		<div class="panel panel-default" id="item" data-itemid="<?php print $item->id_place ?>">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse<?php print $i ?>">
			<div class="panel-heading">
				<h2 class="panel-title">
					<?php print $item->title; ?>
				</h2>
			</div>
			</a>
			<div id="collapse<?php print $i ?>" class="panel-collapse collapse">
				<div class="panel-body"><?php print $item->text; ?></div>
			</div>
		</div>
		
		<?php
			$i++;
			}
		?>
		</div>
	</div>
	<div class="col-md-9">
		<div id="overlay">
			<div id="map-canvas" style="border:0px solid; height:600px; width:100%"></div>
		</div>
	</div>
</div>
  

<script>
    
    var map;
    var infowindow;
	var bounds;
	var markers = [];
	
	
	// click on item to zoom marker
		$(document).on("click","#item",function()
		{
			var thisloc = $(this).data("itemid");
			//alert(thisloc);
			
			//alert(markers.length);
			for(var i=0; i<markers.length; i++)
			{
				if(markers[i].id == thisloc)
				{
						//get the latlong
					map.panTo(markers[i].getPosition());
					infowindow.setContent(markers[i].title + '<br>' + markers[i].text );
					infowindow.open(map, markers[i]);
				}
		}
	});
    
	function panTo()
	{
		map.panTo(curmarker.position);	
	}
	
    function initMap()
    {
        var mapStyle = [{'featureType': 'administrative', 'elementType': 'labels.text.fill', 'stylers': [{'color': '#444444'}]}, {'featureType': 'landscape', 'elementType': 'all', 'stylers': [{'color': '#f2f2f2'}]}, {'featureType': 'poi', 'elementType': 'all', 'stylers': [{'visibility': 'off'}]}, {'featureType': 'road', 'elementType': 'all', 'stylers': [{'saturation': -100}, {'lightness': 45}]}, {'featureType': 'road.highway', 'elementType': 'all', 'stylers': [{'visibility': 'simplified'}]}, {'featureType': 'road.arterial', 'elementType': 'labels.icon', 'stylers': [{'visibility': 'off'}]}, {'featureType': 'transit', 'elementType': 'all', 'stylers': [{'visibility': 'off'}]}, {'featureType': 'water', 'elementType': 'all', 'stylers': [{'color': '#4f595d'}, {'visibility': 'on'}]}];

        // Create the map
        map = new google.maps.Map(document.getElementById('map-canvas'),
        {
            zoom: 10,
            styles: mapStyle,
            center: new google.maps.LatLng(51.264, 15.569)
        });
    }
    
    function initinfoWindow()
    {
        infowindow = new google.maps.InfoWindow();
    }
        
    function createMarker(id,lat, lon, title, text)
    {
        return marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lon),
		id: id,
        map: map,
        title: title,
        text: text
        });
    }
    
    function createInfoWindowEvent(m)
    {
        google.maps.event.addListener(m, 'click', function()
        {
            infowindow.setContent(m.title + '<br>' + m.text );
            infowindow.open(map, m);
        });
    }
	
	function createListItem(m)
	{
		var ul = document.getElementById("items");
		var li = document.createElement("li");
		li.innerHTML = m.title;
		ul.appendChild(li);
	}
	
	function fitBounds(m)
	{
		bounds.extend(m.getPosition());
	}
    
	function initPlaces(url)
	{
        
		$.ajax
		({
			type: "POST",
			url: url,
			success: function(html)
			{

				places = JSON.parse(html);
				bounds = new google.maps.LatLngBounds();
				
				for (var i = 0; i < places.length; i++)
				{
					var marker = createMarker(places[i].id_place,places[i].lat, places[i].lon, places[i].title,places[i].text);
					markers.push(marker);
					fitBounds(marker);
					createInfoWindowEvent(marker);
					// nie używamy, robimy listę zwykłym html
					//createListItem(marker);
				}
				
				map.fitBounds(bounds);
				
			},
		});
		
	}
		
    function init()
    {
        initMap();
        initinfoWindow();
		initPlaces("contact/placesJson");
        
		//alert(places.length);
       
        
        /*    
         = createMarker(51.2641800,15.5697000,content('Bolesławiec','Opis bolesławca'));
        
        
        var marker = createMarker(51.2641800,15.6697000,content('Tomaszów','Opis tomaszowa'));
        createInfoWindowEvent(marker);
        */
    }
       
    
</script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAtyXbZQiMV2BFDdztVuCZPfzN_rijV4_U&callback=init" async defer></script>
<!--<script src="../../dist/snazzy-info-window.min.js"></script>-->


 




   


