<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12">
        <form method="POST" action="/password/save">
            <fieldset>
                <legend><? print _msg('change.password') ?></legend>
                <div class="form-group">
                    <label class="control-label"><?php print _msg('password') ?></label>
                    <input type="password" class="form-control" placeholder="<?php print _msg('password') ?>" name="password" value="<?php  ?>">
                    <?php   ?>
                </div>

                <div class="form-group">
                    <label class="control-label"><?php print _msg('repeat_password') ?></label>
                    <input type="password" class="form-control" placeholder="<?php print _msg('repeat.password') ?>" name="repeat_password" value="<?php ?>">
                    <?php  ?>
                </div>

                <div class="form-group">
                    <input type="hidden" name="method" value="save">
                    <button type="submit" class="btn btn-primary pull-right"><?php print _msg('save') ?></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
