<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12">
        <form method="POST">
            <fieldset>
                <legend><? print Msg::Get('_CHANGE_PASSWORD_','Change Password') ?></legend>
                <div class="form-group">
                    <label class="control-label"><?php print Msg::Get('_PASSWORD_','Password') ?></label>
                    <input type="password" class="form-control" placeholder="<?php print Msg::Get('_PASSWORD_','Password') ?>" name="<?php print PASSWORD ?>" value="<?php print $this->Password->Value ?>">
                    <?php print $this->RenderValidationError($this->Password->ErrorText); ?>
                </div>

                <div class="form-group">
                    <label class="control-label"><?php print Msg::Get('_REPEAT_PASSWORD_','Repeat Password') ?></label>
                    <input type="password" class="form-control" placeholder="<?php print Msg::Get('_REPEAT_PASSWORD_','Repeat Password') ?>" name="<?php print REPEAT_PASSWORD ?>" value="<?php print $this->RepeatPassword->Value ?>">
                    <?php print $this->RenderValidationError($this->RepeatPassword->ErrorText); ?>
                </div>

                <div class="form-group">
                    <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                    <button type="submit" class="btn btn-primary pull-right"><?php print Msg::Get('_SAVE_','Save') ?></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
