<div>
 <form method="POST">
     <p><input type="text" placeholder="<?php print _EMAIL_ ?>" name="<?php print _EMAIL_ ?>" required></p>
 <p><input type="password" placeholder="<?php print _PASSWORD_ ?>" name="<?php print _PASSWORD_ ?>"></p>
 <p><input type="password" placeholder="<?php print _REPEAT_PASSWORD_ ?>" name="<?php print _REPEAT_PASSWORD_ ?>"></p>
 <p><input type="text" placeholder="<?php print _PHONE_ ?>" name="<?php print _PHONE_ ?>"></p>
 <p><input type="submit" value="<?php print _LOGIN_ ?>"></p>


<!--      <input type="hidden" name="'.ACTION_BACK_URL.'" value="'.$back_url.'">
    <input type=hidden name='.ACTION.' value='.ACTION_LOGIN_CHECK.'>
-->
 </form>
 </div>
