<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error</title>
<style type="text/css">
.className { width:600px; position:absolute; left:50%; top:50%; margin:-50px 0 0 -300px; border :0px solid; text-align: center; }
</style>
<base href="<?php if (dirname($_SERVER['SCRIPT_NAME']) == '/') print '/'; else print dirname($_SERVER['SCRIPT_NAME']);  ?>">
<link rel="stylesheet" href="<?php print STYLE_FOLDER ?>/css/bootstrap.min.css">
</head>
<body>    
    <div class="className">
        <h1><?php print $this->get_title() ?></h1>
        
        <p><?php print $this->get_text() ?></p>
        <p><a href="javascript:history.back()">GO BACK</a></p>
    </div>
</body>
</html>
