<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form method="POST">
            <fieldset>
                <legend><?php print $this->ViewTitle  ?></legend>
                 <a href="<?php print $this->CtrlName ?>"  class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> </a>
               
                <div class="form-group pull-right">
                    <input type="hidden" name="<?php print IDCALENDAR ?>" value="<?php print $this->IdCalendar->Value ?>">
                    <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                    <button type="submit" class="btn btn-primary"><?php print Msg::Get('_SAVE_','Save') ?></button>
                    <a href="<?php print $this->CtrlName ?>" class="btn btn-default"><?php print Msg::Get('_CANCEL_','Cancel') ?></a>
                </div>
                <hr>
    
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_TITLE_','Title') ?></label>
                        <input type="text" class="form-control" placeholder="<?php print Msg::Get('_TITLE_','Title') ?>" name="<?php print CALENDAR_NAME ?>" value="<?php print $this->Name->Value ?>">
                        <?php print $this->RenderValidationError($this->Name->ErrorText); ?>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_TEXT_','Text') ?></label>
                        <textarea class="form-control" name="<?php print BLOCK_TEXT ?>" rows="10"><?php print $this->Text->Value ?></textarea>
                        <?php print $this->RenderValidationError($this->Text->ErrorText); ?>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_START_DATE_','Start date') ?></label>
                        <div class='input-group date' id='d1'>
                            <input type='text' class="form-control" name="<?php print CALENDAR_START_DATE ?>" value="<?php print $this->StartDate->Value ?>">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                         <?php print $this->RenderValidationError($this->StartDate->ErrorText); ?>
                    </div>
                
                    <div class="form-group">
                        <label class="control-label"><?php print Msg::Get('_END_DATE_','End date') ?></label>
                        <div class='input-group date' id='d2'>
                            <input type='text' class="form-control" name="<?php print CALENDAR_END_DATE ?>" value="<?php print $this->EndDate->Value ?>">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                         <?php print $this->RenderValidationError($this->EndDate->ErrorText); ?>
                    </div>
            </fieldset>
        </form>
    </div>
</div>

 <script type="text/javascript">
    $(function ()
    {
        $('#d1').datetimepicker({ locale: 'pl', format: 'YYYY-MM-DD HH:mm' });
        $('#d2').datetimepicker({ locale: 'pl', format: 'YYYY-MM-DD HH:mm' });
    });
</script>

