<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <a href="<?php print $this->CtrlName ?>"  class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> </a>
        <hr>
        <form method="POST" action="<?php print $this->CtrlName ?>">
            <fieldset>
                <legend>
                    <?php print Msg::Get('_NEW_','New')  ?>
                </legend>
                <div class="form-group">
                    <label class="control-label"><?php print Msg::Get('_NAME_','Name') ?></label>
                    <input type="text" class="form-control" placeholder="<?php print Msg::Get('_NAME_','Name') ?>" name="<?php print CATEGORY_NAME ?>" value="<?php print $this->Name->Value ?>">
                    <?php print $this->RenderValidationError($this->Name->ErrorText); ?>
                </div>
                <div class="form-group">
                    <input type="hidden" name="<?php print CATEGORY_IDCATEGORY ?>" value="<?php print $this->IdCategory->Value ?>">
                    <input type="hidden" name="<?php print IDPARENT ?>" value="<?php print $this->IdParent->Value ?>">
                    <input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
                    <button type="submit" class="btn btn-primary"><?php print Msg::Get('_SAVE_','Save') ?></button>
                    <a href="<?php print CTRL_CATEGORY ?>" class="btn btn-default"><?php print Msg::Get('_CANCEL_','Cancel') ?></a>
                </div>
            </fieldset>
        </form>
    </div>
</div>