<div class="row">
	<div class="col-md-4 col-md-offset-4">
      
		<form method="POST">
			<fieldset>
				<legend><?php print $this->ViewTitle  ?></legend>
                <a href="<?php print $this->CtrlName ?>"  class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> </a>
   	            <div class="form-group pull-right">
					<input type="hidden" name="<?php print IDMENU ?>" value="<?php print $this->IdMenu->Value ?>">
                    <input type="hidden" name="<?php print IDPARENT ?>" value="<?php print $this->IdParent->Value ?>">
					<input type="hidden" name="<?php print METHOD ?>" value="<?php print METHOD_SAVE ?>">
					<button type="submit" class="btn btn-primary"><?php print Msg::Get('_SAVE_','Save') ?></button>
					&nbsp<a href="<?php print $this->CtrlName ?>" class="btn btn-default"><?php print Msg::Get('_CANCEL_','Cancel') ?></a>
				</div>
                <hr>
                <ul class="nav nav-tabs">
                    <li class="active" role="presentation"><a data-toggle="pill" href="#page1"><?php print Msg::Get('_ALL_','All') ?></a></li>
                    <!--<li role="presentation"><a data-toggle="pill" href="#page2"><?php print Msg::Get('_OPTIONS_','Options') ?></a></li>-->
					<!--<li role="presentation"><a data-toggle="pill" href="#page3"><?php print Msg::Get('_IMAGE_','Image') ?></a></li>-->
                </ul>

            <div class="tab-content">
                <div id="page1" class="tab-pane fade in active">		 
                <?php  $this->RenderTreeAsSelect($this->Menus,$this->IdParent->Value, Msg::Get('_MENU_','Menu'),IDPARENT) ?>
				<div class="form-group">
					<label class="control-label"><?php print Msg::Get('_NAME_','Name') ?></label>
					<input type="text" class="form-control" placeholder="<?php print Msg::Get('_NAME_','Name') ?>" name="<?php print MENU_NAME ?>" value="<?php print $this->Name->Value ?>">
					<?php print $this->RenderValidationError($this->Name->ErrorText); ?>
				</div>
                    <?php $this->RenderAsSelect($this->Statuses, $this->Active->Value, Msg::Get('_ACTIVE_','Active'), MENU_STATUS) ?>
					<?php $this->RenderAsSelect($this->Regions, $this->IdRegion->Value, Msg::Get('_REGION_','Region'), IDREGION) ?>
				</div>
            </div>
			</fieldset>
		</form>
	</div>
</div>
